* {
    color: #25282E;
}

a, i {
    transition: .5s;
    text-decoration: none;
}

.secundary-color {
    color: #555;
}

.center-image {
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: #25282E;
    color: #fff;
    padding: 7px 18px;
    border-radius: 1px;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.container {
    padding: auto;
    margin: auto;
}