#img2 {
    background-image: url("https://source.unsplash.com/random/534X250");
}

#img3 {
    background-image: url("https://source.unsplash.com/random/535X250");
}

#img4 {
    background-image: url("https://source.unsplash.com/random/533X250");
}

#img5 {
    background-image: url("https://source.unsplash.com/random/536X250");
}

#imagem535250 h1,
p {
    text-align: center;
}

#imagem535250 h1,
#imagem535250 .col-md6,
#imagem535250 .col-12 {
    margin-bottom: 50px;
}

.small-image-container {
    height: 250px;
}