#img6 {
    background-image: url("https://source.unsplash.com/random/856x480");
}

#img7 {
    background-image: url("https://source.unsplash.com/random/853x480");
}

#imagem854480 h1,
p {
    text-align: center;
}

#imagem854480 h1,
#imagem854480 .col-md6,
#imagem854480 .col-12 {
    margin-bottom: 50px;
}

.medium-image-container {
    height: 480px;
    width: 854px;
    margin: auto;
}