.main-image {
    height: 400px;
    background-image: url("https://source.unsplash.com/random/800x400");
    margin-bottom: 30px;
    position: relative;
}

.main-image-info {
    background: linear-gradient(#474747c2, #02008183);
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: #fff;
}

.main-image-text {
    color: #fff;
}