.menu {
    background-color: var(--primaryColor);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid black;
}

.menuContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--whiteColor);
}

.menu h1 a {
    color: var(--whiteColor);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--whiteColor);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: darkred;
    transition: all 285ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menuSpacing {
    height: 65px;
}