.gridOneContentProjects {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.gridMainHeadingProjects {
    /* h2 */
    margin-top: 5rem;
    margin-bottom: 15rem;
}

.gridDescriptionProjects {
    /* p */
    margin-top: -13.5rem;
    margin-bottom: 2.5rem;
}

.gridProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
    counter-reset: gridCounter;
}

.gridProjects img {
    max-width: 90%;
    height: 90%;
    overflow: auto;
    transition: all 300ms ease-in-out;
}

.gridProjects img:hover {
    transform: translate(2%, -2%) scale(1.28);
}

.titleprojects {
    font-size: 25px;
    margin: auto;
    padding-bottom: 20px;
}

figcaption {
    margin-bottom: 28px;
}