.workContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.workText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.workImg {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 100px;
}

.workText h2 {
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
}

.workText p {
    margin-bottom: 0.9rem;
}

.workImg img {
    max-width: 100%;
    height: auto;
    margin: auto;
}