#bottom-navbar-container .container {
    justify-content: flex-end;
  }
  
  #bottom-navbar-container a {
    color: #FFF;
    font-weight: 600;
  }
  
  .navbar-toggler {
    font-size: 1.5em;
  }
  