#new-products {
    margin-bottom: 5rem;
  }
  
  #new-products-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
  }
  
  #new-products-banner h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  #new-products .col-md-4 {
    padding: 0;
  }
  
  #new-products .card img {
    height: 150px;
    width: 90px;
    margin: 2em auto;
  }