* {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #2b2b2b;
    color: #ffffff;
}

.primary-bg-color {
    background-color: #2b2b2b;
}

.secondary-bg-color {
    background-color: #c09578;
}

.light-bg-color {
    background-color: #fcf5eb;
}

.dark-bg-color {
    background-color: #101010;
}

.primary-color {
    color: #c09578;
}

.secundary-color {
    color: #626262;
}

.light-color {
    color: #fcf5eb;
}

#newsletter-container {
    background-color: #101010;
    border-bottom: 1px solid #626262;
    text-align: center;
    padding: 20px;
}

#news-form {
    max-width: 600px;
    margin: 15px auto;
}

#news-form i {
    font-size: 1.5em;
}

#news-form .btn {
    color: #FFF;
}

#social-container {
    margin: 20px auto;
}

#social-container i {
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
    color: #626262;
    transition: .3s;
}

#social-container i:hover {
    color: #C09578;
}

/* COPY */
#copy-container {
    text-align: center;
    padding: 30px;
}